{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Estudiante Manager</title>
        <link href="{% static 'css/bootstap.min.css' %}" rel="stylesheet">
        <body>
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Sistema de control de estudiantes</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Todos los estudiantes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Agregar estudiantes</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            <h1>
                Hola Mundo
            </h1>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
        </body>
    </head>
</html>